canvas {
    display: block;
    /* margin: 2rem auto; */
    margin-right: 2vh;
}

canvas:hover {
    cursor: pointer;
}

div.container {
    width: 80%;
    margin: 2rem auto;
}

.go-button {
    box-shadow: inset 0px 1px 0px 0px #d9fbbe;
    background: linear-gradient(to bottom, #b8e356 5%, #a5cc52 100%);
    background-color: #b8e356;
    border-radius: 6px;
    border: 1px solid #83c41a;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 15px;
    font-weight: bold;
    padding: 6px 24px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #86ae47;
}

.go-button:hover {
    background: linear-gradient(to bottom, #a5cc52 5%, #b8e356 100%);
    background-color: #a5cc52;
}

.go-button:active {
    position: relative;
    top: 1px;
}

.screen {
    display: flex;
    flex-direction: row;
}

.neuron-icon {
    width: 90px;
    height: 90px;
    border: 1px solid rgb(175, 175, 175);
    margin: 5px;
    background-size: auto 90px;
    background-position: center;
    background-repeat: no-repeat;
}

.neuron-icon:hover {
    cursor: pointer;
    border-color: purple;
}

.angle-left-up {
    background-image: url(./img/lu.jpg);
}

.angle-left-down {
    background-image: url(./img/ld.jpg);
}

.angle-right-up {
    background-image: url(./img/ru.jpg);
}

.angle-right-down {
    background-image: url(./img/rd.jpg);
}

.full-line-h {
    background-image: url(./img/fh.jpg);
}

.full-line-v {
    background-image: url(./img/fv.jpg);
}